* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #111111;
  color: #fff;
}

body,
input,
button,
textarea {
  font: 400 16px;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}

.app h1 {
  color: #0bc6e3;
  text-align: center;
  padding: 50px 0;
}

.app .buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 25px 0;
}

.app .buttons button {
  padding: 10px 30px;
  border-radius: 4px;
  margin-left: 10px;
  background: #0bc6e3;
  font-weight: 800;
  color: #333;
  border: 0;
}
.app .buttons button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.app .buttons button:disabled {
  opacity: 0.55;
  cursor: no-drop;
}

.app .box-times {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.app .box-times .box {
  width: 100%;
}

.app .box-times .box .champion,
.box-times-others .box .champion {
  display: flex;
  align-items: center;
  padding: 4px 5px;
}

.app .box-times .box .champion img,
.box-times-others .box .champion img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.app .box-times .box .champion span {
  font-size: 1rem;
  font-weight: 800;
  color: #0bc6e3;
}

.box-times-others {
  display: flex;
  justify-content: space-between;
}

.box-times-others .box {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
